<div class="absolute 
     w-56
     h-1/4 
     top-10
     left-5
     border 
     rounded-lg 
     border border-purple-400 
     bg-gray-600
     flex
     flex-col
     p-3
     shadow-xl
     ">
  <div class="font-bold text-center">search socket state</div>
  <pre class="text-sm">
    <%= Jason.encode!(@search, pretty: true) %>
  </pre>
</div>
